global:
  scrape_interval: 15s
  evaluation_interval: 15s
  external_labels:
    monitor: 'auto-microservices-monitor'
    environment: 'docker'

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
        labels:
          service: 'prometheus'

  - job_name: 'consul-services'
    consul_sd_configs:
      - server: 'consul:8500'
        datacenter: 'dc1'
    relabel_configs:

      - source_labels: [__meta_consul_service]
        target_label: job

      - source_labels: [__meta_consul_service]
        target_label: service

      - source_labels: [__meta_consul_service]
        regex: 'auto-.*'
        replacement: '/actuator/prometheus'
        target_label: __metrics_path__

      - source_labels: [__meta_consul_tags]
        target_label: tags

      - source_labels: [__address__]
        target_label: instance